node_modules/**/*
yarn.lock
.expo/*
.expo-shared/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
build/
/target/

.project
.classpath
.settings
.expo-shared
*.lock
yarn-error.log

eas.json